{{docs-hero
  prefix='Ember'
  heading='Component Library'
  byline='Example EmberJS shared component library.'
}}


<div class='container'>
  {{#docs-demo as |demo|}}
    {{#demo.example name='my-demo.hbs'}}
      <p>
        Make sure to read up on the DocsDemo component before building out this page.
        some cool stuff already?
      </p>
    {{/demo.example}}
  {{/docs-demo}}
</div>